
.Contact-list {
    text-align: left;
    padding-left: 10px;

}

.Contact-list-grid {
    display: grid;
    grid-template-columns: 10em 10em 10em;
    grid-gap: 1em;
    align-items: baseline;
}

ul {
    list-style-type: none;
}

.Contact-list-contact {
    background-color: floralwhite;
    width: 10em;
    height: 10em;
    border: 1px dashed green;
}

.btn {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.btn1:hover {
    background-color: #008CBA;
    color: white;
}